.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.FullContainer {
  top: 0;
  z-index: 100;
  transition: position 0.3s ease;
  min-height: 100%;
  min-width: 100%;
}

.FullContainer.sticky {
  position: sticky;
}