:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  width: 100%;
  cursor: auto;
  min-height: 100vh;
  flex-direction: column;
} 