.card {
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.listItem {
    list-style: none;
    padding: 8px 5px;
    right: 14px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    hyphens: initial;
    position: relative;
    background-color: #f6f6f6;
}

.parameter {
    font-size: 16px;
    flex-grow: 1;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.iconSuccess {
    color: green;
    margin-left: 5px;
    flex-shrink: 0;
}

.iconFail {
    color: red;
    margin-left: 5px;
    flex-shrink: 0;
}

.iconNeutral {
    color: grey;
    margin-left: 5px;
    flex-shrink: 0;
}

.tooltipIcon {
    margin-left: 10px;
    font-size: 16px;
    flex-shrink: 0;
    position: relative;
}

/* Αν χρησιμοποιείτε custom tooltip αντί για Bootstrap */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: normal;
    max-width: 250px;
    z-index: 1000;
    left: 100%;
    top: 50%;
    transform: translate(10px, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltipIcon:hover .tooltip {
    opacity: 1;
}

.bs-tooltip-end .tooltip-arrow {
    left: -4px;
}