/* ===== map.module.css ===== */
.mapWrapper {
  gap: 1rem;
  display: flex;
  height: 500px;
  position: relative;
  width: 80%;
  z-index: 1;
  margin: 1rem auto;

  @media (max-width: 992px) {
    margin: 3rem auto;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

.leafletContainer {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;

}

.legend {
  align-self: end;
  /* πάνω-πάνω */
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  width: 300px;

  @media (max-width: 992px) {
    width: 200px;
    margin-top: 3rem ;
    align-self: center;

  }
}

.legend p {
  margin: 0 0 8px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.legendItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.legendColor {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #ccc;
}