.mapWrapper {
  height: 600px; /* Προσαρμογή στο ίδιο ύψος με το mapContainer */
  width: 100%;
  z-index: 1;
  position: relative;
}

.leafletContainer {
  height: 100% !important; /* Αναγκαίο για Leaflet */
  width: 100% !important;
}